body {
  font-family: Arial;
  margin: 20px;
}

input {
  margin: 4px;
  padding: 5px;
}

button {
  margin: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

.mensaje {
  font-weight: bold;
  margin-top: 10px;
}
